<!-- Left menu -->
<ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Sidebar</h1>
        <!--<button class="button button-icon ion-plus" ng-click="newProject()">
        </button>-->
    </ion-header-bar>
    <ion-content scroll="false">
        <ion-list>
            <!--<ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
                {{project.title}}
            </ion-item>-->
            <ion-item>
                Side 1
            </ion-item>
            <ion-item>
                Side 2
            </ion-item>
            <ion-item>
                Side 3
            </ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>