<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta name="google-site-verification" content="m1Ta0ZhuHFfBhxstxeOmUCGUV5k6QGPyCslzuKawe8Q"/>
    <meta charset="utf-8">
    <title>Ionic-ng-boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="/<%= file %>"/>
    <% }); %>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="/<%= file %>"></script>
    <% }); %>

    <!-- 404 during development -->
    <script src="cordova.js"></script>

    <!-- uses Open Sans Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,100,700,300,600' rel='stylesheet' type='text/css'>

</head>
<!--<body ng-controller="AppCtrl" class="auth-demo-application check-user">-->
<body ng-controller="AppCtrl" class="">

<div ng-include="'header.tpl.html'"></div>

<div class="container-fluid">

    <!-- Loader -->
    <div class="loaderWrapper" ng-show="hasPendingRequests()">
        <!--<img src="/assets/img/spinner.gif">-->
        <div id="facebookG">
            <div class="facebookBlocks">
                <div id="blockG_1" class="facebook_blockG"></div>
                <div id="blockG_2" class="facebook_blockG"></div>
                <div id="blockG_3" class="facebook_blockG"></div>
            </div>
            <div class="text">Cargando...</div>
        </div>
    </div>

    <!--<div ng-view class="row"></div>-->

    <div ui-view></div>

</div>

<div ng-include="'footer.tpl.html'"></div>

</body>
</html>
