<!-- Center content -->
<ion-side-menu-content>
    <ion-header-bar class="bar-dark">
        <button class="button button-icon" ng-click="toggleSideBar()">
            <i class="icon ion-navicon"></i>
        </button>
        <h1 class="title">Buscar</h1>
        <!-- New Task button-->
        <!--<button class="button button-icon" ng-click="newTask()">
            <i class="icon ion-compose"></i>
        </button>-->
    </ion-header-bar>
    <ion-content scroll="false">
        <!--<ion-list>
            <ion-item ng-repeat="task in activeProject.tasks">
                {{task.title}}
            </ion-item>
        </ion-list>-->
    </ion-content>
</ion-side-menu-content>